Repository krishjag/tealeaf: changes, and which Codecov flags are due for each by the changed paths.
All: rust, dotnet, Rust Core (tealeaf-core), Rust Derive (tealeaf-derive), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Fix schema key patterns.
  Cargo.toml
  accuracy-benchmark/scripts/count_tokens.py
  assets/tealeaf_workflow.png
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/docfx.json
  canonical/binary/quoted_keys.tlbx
  canonical/expected/quoted_keys.json
  canonical/samples/quoted_keys.tl
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/getting-started/installation.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  spec/TEALEAF_SPEC.md
  tealeaf-core/README.md
  tealeaf-core/src/lib.rs
  tealeaf-core/src/parser.rs
  tealeaf-core/src/types.rs
  tealeaf-core/tests/canonical.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
  throwawaytest_array.json
  throwawaytest_array.tl
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Change Log updated.
  docs-site/src/appendix/changelog.md
Due: none

Schema inference logic update for heterogenous object structures and bug fixes for v2.0.0-beta.11.
  Cargo.toml
  assets/tealeaf_workflow.png
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/docfx.json
  canonical/binary/mixed_schemas.tlbx
  canonical/expected/mixed_schemas.json
  canonical/expected/quoted_keys.json
  canonical/expected/schemas.json
  docs-site/src/appendix/changelog.md
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/getting-started/installation.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  spec/TEALEAF_SPEC.md
  tealeaf-core/README.md
  tealeaf-core/src/lib.rs
  tealeaf-core/src/parser.rs
  tealeaf-core/src/reader.rs
  tealeaf-core/src/types.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Fix an invalid .Net Test.
  bindings/dotnet/TeaLeaf.Tests/CoverageEdgeCaseTests.cs
  docs-site/src/appendix/changelog.md
Due: none

.Net Refactor to significantly improve API ergonomics.
  bindings/dotnet/TeaLeaf.Annotations/README.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeafAttribute.cs
  bindings/dotnet/TeaLeaf.Generators.Tests/DiagnosticTests.cs
  bindings/dotnet/TeaLeaf.Generators.Tests/GeneratorTests.cs
  bindings/dotnet/TeaLeaf.Generators/DeserializerEmitter.cs
  bindings/dotnet/TeaLeaf.Generators/DiagnosticDescriptors.cs
  bindings/dotnet/TeaLeaf.Generators/ModelAnalyzer.cs
  bindings/dotnet/TeaLeaf.Generators/TLTextEmitter.cs
  bindings/dotnet/TeaLeaf.Generators/TeaLeafGenerator.cs
  bindings/dotnet/TeaLeaf.Tests/CoverageEdgeCaseTests.cs
  bindings/dotnet/TeaLeaf.Tests/DTOSerializationTests.cs
  bindings/dotnet/TeaLeaf/Internal/TeaLeafTypeInfo.cs
  bindings/dotnet/TeaLeaf/README.md
  bindings/dotnet/TeaLeaf/TeaLeafSerializer.cs
  docs-site/src/dotnet/attributes.md
  docs-site/src/dotnet/diagnostics.md
  docs-site/src/dotnet/overview.md
  docs-site/src/dotnet/source-generator.md
  scripts/sync-version.ps1
  scripts/sync-version.sh
  spec/TEALEAF_SPEC.md
Due: dotnet, .NET Bindings, .NET Source Generator

Bump version to 2.0.0-beta.13 and update changelog with new features and fixes
  Cargo.toml
  assets/tealeaf_workflow.png
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/docfx.json
  docs-site/src/appendix/changelog.md
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/getting-started/installation.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  spec/TEALEAF_SPEC.md
  tealeaf-core/README.md
  tealeaf-core/src/types.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Bump version to 2.0.0-beta.13 and update changelog with new features and fixes
  Cargo.toml
  assets/tealeaf_workflow.png
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators.Tests/GeneratorTests.cs
  bindings/dotnet/TeaLeaf.Generators/TLTextEmitter.cs
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf.Tests/CoverageEdgeCaseTests.cs
  bindings/dotnet/TeaLeaf.Tests/DTOSerializationTests.cs
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/TeaLeaf/TeaLeafSerializer.cs
  bindings/dotnet/TeaLeaf/TeaLeafTextHelper.cs
  bindings/dotnet/docfx.json
  docs-site/src/appendix/changelog.md
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/getting-started/installation.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  spec/TEALEAF_SPEC.md
  tealeaf-core/README.md
  tealeaf-core/src/types.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Add to google search index.
  google210e4b19e159258e.html
Due: none

Remove site verification html
  google210e4b19e159258e.html
Due: none

Google site verification.
  docs-site/theme/head.hbs
Due: none

The demo key for USDA is transparent. But still fixing for codeql.
  accuracy-benchmark/tasks/retail/data/process_usda.py
Due: none

Spec updates to be internally implementation consistent.
  spec/TEALEAF_SPEC.md
Due: none

Spec updates.
  spec/TEALEAF_SPEC.md
Due: none

ADR for not implementing an AST.
  accuracy-benchmark/tasks/retail/data/process_usda.py
  docs-site/src/SUMMARY.md
  docs-site/src/decisions/adr-0005-direct-value-representation.md
  docs-site/src/decisions/index.md
  tealeaf-core/src/writer.rs
Due: rust, Rust Core (tealeaf-core)

Revert writer.rs to origin/main state
  tealeaf-core/src/writer.rs
Due: rust, Rust Core (tealeaf-core)

TeaLeaf core - Performance improvement related changes.
  tealeaf-core/src/lib.rs
  tealeaf-core/src/reader.rs
  tealeaf-core/src/writer.rs
Due: rust, Rust Core (tealeaf-core)

Adding sitemap.xml for doc-site.
  docs-site/src/sitemap.xml
Due: none

Updated null handling semantics.
  canonical/binary/large_data.tlbx
  canonical/binary/mixed_schemas.tlbx
  canonical/binary/quoted_keys.tlbx
  canonical/binary/schemas.tlbx
  canonical/binary/timestamps.tlbx
  examples/retail_orders_different_shape_api.tl
  spec/TEALEAF_SPEC.md
  tealeaf-core/src/lexer.rs
  tealeaf-core/src/lib.rs
  tealeaf-core/src/parser.rs
  tealeaf-core/src/reader.rs
  tealeaf-core/src/writer.rs
Due: rust, Rust Core (tealeaf-core)

Changes for v2.0.0-beta.14
  Cargo.toml
  assets/tealeaf_workflow.png
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/docfx.json
  docs-site/src/appendix/changelog.md
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/appendix/type-reference.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/format/binary-format.md
  docs-site/src/format/grammar.md
  docs-site/src/format/schemas.md
  docs-site/src/format/text-format.md
  docs-site/src/format/type-system.md
  docs-site/src/getting-started/installation.md
  docs-site/src/internals/binary-encoding.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  spec/TEALEAF_SPEC.md
  tealeaf-core/README.md
  tealeaf-core/src/types.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Fix regex patterns for accuracy and savings updates in README and documentation
  scripts/sync-version.sh
Due: none

Add validation for reserved type keywords in schema inference
  tealeaf-core/src/lib.rs
Due: rust, Rust Core (tealeaf-core)

Path conditions:
  rust: any of: tealeaf-core/, tealeaf-derive/, tealeaf-ffi/, but not: accuracy-benchmark/**, adversarial-tests/**, docs-site/**, examples/**, canonical/**, scripts/**, vscode-tealeaf/**, spec/**, throwaway/**, assets/**, tealeaf-core/benches/**, tealeaf-core/examples/**, tealeaf-core/build.rs, tealeaf-ffi/build.rs, tealeaf-core/tests/**, bindings/dotnet/TeaLeaf.Tests/**, bindings/dotnet/TeaLeaf.Generators.Tests/**, bindings/dotnet/**/obj/**
  dotnet: any of: bindings/dotnet/, but not: accuracy-benchmark/**, adversarial-tests/**, docs-site/**, examples/**, canonical/**, scripts/**, vscode-tealeaf/**, spec/**, throwaway/**, assets/**, tealeaf-core/benches/**, tealeaf-core/examples/**, tealeaf-core/build.rs, tealeaf-ffi/build.rs, tealeaf-core/tests/**, bindings/dotnet/TeaLeaf.Tests/**, bindings/dotnet/TeaLeaf.Generators.Tests/**, bindings/dotnet/**/obj/**
  Rust Core (tealeaf-core): any of: tealeaf-core/src/**, but not: accuracy-benchmark/**, adversarial-tests/**, docs-site/**, examples/**, canonical/**, scripts/**, vscode-tealeaf/**, spec/**, throwaway/**, assets/**, tealeaf-core/benches/**, tealeaf-core/examples/**, tealeaf-core/build.rs, tealeaf-ffi/build.rs, tealeaf-core/tests/**, bindings/dotnet/TeaLeaf.Tests/**, bindings/dotnet/TeaLeaf.Generators.Tests/**, bindings/dotnet/**/obj/**
  Rust Derive (tealeaf-derive): any of: tealeaf-derive/src/**, but not: accuracy-benchmark/**, adversarial-tests/**, docs-site/**, examples/**, canonical/**, scripts/**, vscode-tealeaf/**, spec/**, throwaway/**, assets/**, tealeaf-core/benches/**, tealeaf-core/examples/**, tealeaf-core/build.rs, tealeaf-ffi/build.rs, tealeaf-core/tests/**, bindings/dotnet/TeaLeaf.Tests/**, bindings/dotnet/TeaLeaf.Generators.Tests/**, bindings/dotnet/**/obj/**
  Rust FFI (tealeaf-ffi): any of: tealeaf-ffi/src/**, but not: accuracy-benchmark/**, adversarial-tests/**, docs-site/**, examples/**, canonical/**, scripts/**, vscode-tealeaf/**, spec/**, throwaway/**, assets/**, tealeaf-core/benches/**, tealeaf-core/examples/**, tealeaf-core/build.rs, tealeaf-ffi/build.rs, tealeaf-core/tests/**, bindings/dotnet/TeaLeaf.Tests/**, bindings/dotnet/TeaLeaf.Generators.Tests/**, bindings/dotnet/**/obj/**
  .NET Bindings: any of: bindings/dotnet/TeaLeaf/**, bindings/dotnet/TeaLeaf.Annotations/**, but not: accuracy-benchmark/**, adversarial-tests/**, docs-site/**, examples/**, canonical/**, scripts/**, vscode-tealeaf/**, spec/**, throwaway/**, assets/**, tealeaf-core/benches/**, tealeaf-core/examples/**, tealeaf-core/build.rs, tealeaf-ffi/build.rs, tealeaf-core/tests/**, bindings/dotnet/TeaLeaf.Tests/**, bindings/dotnet/TeaLeaf.Generators.Tests/**, bindings/dotnet/**/obj/**
  .NET Source Generator: any of: bindings/dotnet/TeaLeaf.Generators/**, but not: accuracy-benchmark/**, adversarial-tests/**, docs-site/**, examples/**, canonical/**, scripts/**, vscode-tealeaf/**, spec/**, throwaway/**, assets/**, tealeaf-core/benches/**, tealeaf-core/examples/**, tealeaf-core/build.rs, tealeaf-ffi/build.rs, tealeaf-core/tests/**, bindings/dotnet/TeaLeaf.Tests/**, bindings/dotnet/TeaLeaf.Generators.Tests/**, bindings/dotnet/**/obj/**
