Repository krishjag/tealeaf: changes, and which Codecov flags are due for each by the changed paths.
All: rust, dotnet, Rust Core (tealeaf-core), Rust Derive (tealeaf-derive), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

codecov.yml:

# Codecov configuration for TeaLeaf
# https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: false
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "60...90"

  status:
    project:
      default:
        target: auto
        threshold: 2%
        if_ci_failed: error

      rust:
        target: auto
        threshold: 2%
        flags:
          - rust

      dotnet:
        target: auto
        threshold: 5%
        flags:
          - dotnet

    patch:
      default:
        target: 60%
        threshold: 5%

flags:
  rust:
    paths:
      - tealeaf-core/
      - tealeaf-derive/
      - tealeaf-ffi/
    carryforward: true

  dotnet:
    paths:
      - bindings/dotnet/
    carryforward: true

ignore:
  - "accuracy-benchmark/**"
  - "adversarial-tests/**"
  - "docs-site/**"
  - "examples/**"
  - "canonical/**"
  - "scripts/**"
  - "vscode-tealeaf/**"
  - "spec/**"
  - "throwaway/**"
  - "assets/**"
  - "tealeaf-core/benches/**"
  - "tealeaf-core/examples/**"
  - "tealeaf-core/build.rs"
  - "tealeaf-ffi/build.rs"
  - "tealeaf-core/tests/**"
  - "bindings/dotnet/TeaLeaf.Tests/**"
  - "bindings/dotnet/TeaLeaf.Generators.Tests/**"
  - "bindings/dotnet/**/obj/**"

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

component_management:
  individual_components:
    - component_id: rust_core
      name: "Rust Core (tealeaf-core)"
      paths:
        - tealeaf-core/src/**

    - component_id: rust_derive
      name: "Rust Derive (tealeaf-derive)"
      paths:
        - tealeaf-derive/src/**

    - component_id: rust_ffi
      name: "Rust FFI (tealeaf-ffi)"
      paths:
        - tealeaf-ffi/src/**

    - component_id: dotnet_bindings
      name: ".NET Bindings"
      paths:
        - bindings/dotnet/TeaLeaf/**
        - bindings/dotnet/TeaLeaf.Annotations/**

    - component_id: dotnet_generators
      name: ".NET Source Generator"
      paths:
        - bindings/dotnet/TeaLeaf.Generators/**

Fixes to accuracy benachmark suite and doc updates.
  README.md
  accuracy-benchmark/src/main.rs
  accuracy-benchmark/src/providers/anthropic.rs
  accuracy-benchmark/src/providers/openai.rs
  accuracy-benchmark/src/runner/executor.rs
  assets/tealeaf-json-token-comparison.png
  bindings/dotnet/TeaLeaf/README.md
  docs-site/src/guides/llm-context.md
  docs-site/src/introduction.md
Due: dotnet, .NET Bindings

Accuracy benchmark fixes.
  README.md
  accuracy-benchmark/config/models.toml
  accuracy-benchmark/src/config.rs
  accuracy-benchmark/src/lib.rs
  accuracy-benchmark/src/main.rs
  accuracy-benchmark/src/providers/anthropic.rs
  accuracy-benchmark/src/providers/mod.rs
  accuracy-benchmark/src/providers/openai.rs
  accuracy-benchmark/src/runner/rate_limiter.rs
  docs-site/src/introduction.md
Due: none

Contibutions guide added.
  CONTRIBUTING.md
  docs-site/src/contributing/development.md
  docs-site/src/contributing/guide.md
Due: none

Adding spec governance information.
  docs-site/src/SUMMARY.md
  docs-site/src/appendix/spec-governance.md
Due: none

Adding build badges.
  README.md
Due: none

Packaging related updates.
  .github/workflows/rust-cli.yml
  Cargo.toml
  README.md
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  scripts/sync-version.ps1
  scripts/sync-version.sh
Due: dotnet, .NET Bindings

bump version to 2.0.0-beta.2
  Cargo.toml
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/docfx.json
  docs-site/src/appendix/changelog.md
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/getting-started/installation.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  scripts/sync-version.ps1
  scripts/sync-version.sh
  spec/TEALEAF_SPEC.md
  tealeaf-core/src/types.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Remove benches from the crate.
  tealeaf-core/Cargo.toml
Due: rust

Fix the publishing of TeaLeaf Annotations and Generators package to NuGet.
  .github/workflows/dotnet-package.yml
  docs-site/src/appendix/changelog.md
Due: none

Fixing build configurations.
  .github/workflows/dotnet-package.yml
  bindings/dotnet/TeaLeaf.Annotations/README.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/README.md
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  tealeaf-core/Cargo.toml
  tealeaf-core/README.md
  tealeaf-derive/Cargo.toml
  tealeaf-derive/README.md
Due: rust, dotnet, .NET Bindings, .NET Source Generator

Enable CI workflows.
  .github/workflows/accuracy-benchmark.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/dotnet-package.yml
  .github/workflows/fuzz.yml
  .github/workflows/rust-cli.yml
Due: none

Fix coverage report include/exclude patterns for .NET tests
  .github/workflows/coverage.yml
Due: none

Fix Codecov token handling and streamline .NET coverage file uploads
  .github/workflows/coverage.yml
Due: none

Bump version to 2.0.0-beta.4 and update changelog with bug fixes and new tests
  Cargo.toml
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf.Tests/TLReaderTests.cs
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/docfx.json
  docs-site/src/appendix/changelog.md
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/getting-started/installation.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  spec/TEALEAF_SPEC.md
  tealeaf-core/src/lib.rs
  tealeaf-core/src/types.rs
  tealeaf-core/src/writer.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Update tealeaf workflow image
  assets/tealeaf_workflow.png
Due: none

Update tealeaf-core README and sync scripts for version 2.0.0-beta.4
  scripts/sync-version.ps1
  scripts/sync-version.sh
  tealeaf-core/README.md
Due: rust

Update accuracy-benchmark workflow permissions and enhance token validation script with safe print function
  .github/workflows/accuracy-benchmark.yml
  accuracy-benchmark/scripts/validate_tokens.py
  test-vectors/json-conversion.json
Due: none

Refactor CodeQL workflow for language configuration
  .github/workflows/codeql.yml
Due: none

Remove safe_print function and use standard print for output in validate_tokens script
  accuracy-benchmark/scripts/validate_tokens.py
Due: none

Fix token comparison by converting API input to int for safety
  accuracy-benchmark/scripts/validate_tokens.py
Due: none

Add coverage for multi-word enums and nullable nested objects in tests; expose internals to test project
  bindings/dotnet/TeaLeaf.Tests/CoverageEdgeCaseTests.cs
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
Due: dotnet, .NET Bindings

Add tests for JSON serialization of timestamps and byte arrays
  bindings/dotnet/TeaLeaf.Tests/CoverageEdgeCaseTests.cs
Due: none

Refactor coverage configuration and update tests to use dotnet-coverage
  .github/workflows/coverage.yml
  bindings/dotnet/TeaLeaf.Generators.Tests/GeneratorTests.cs
  bindings/dotnet/TeaLeaf.Generators.Tests/TeaLeaf.Generators.Tests.csproj
  bindings/dotnet/TeaLeaf.Tests/CoverageEdgeCaseTests.cs
  bindings/dotnet/TeaLeaf.Tests/TeaLeaf.Tests.csproj
  bindings/dotnet/coverage-generators.settings.xml
  bindings/dotnet/coverage-tealeaf.settings.xml
  scripts/coverage.ps1
Due: dotnet

Remove SuppressDependenciesWhenPacking property from project file
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
Due: dotnet, .NET Source Generator

Update documentation to reflect changes in binary deserialization methods
  docs-site/src/getting-started/quick-start.md
  docs-site/src/guides/llm-context.md
  docs-site/src/guides/schema-evolution.md
  docs-site/src/rust/derive-macros.md
Due: none

DotNet bindings: Add diagnostics for global namespace types and implement GetRequired() extension methods
  bindings/dotnet/TeaLeaf.Generators.Tests/GeneratorTests.cs
  bindings/dotnet/TeaLeaf.Generators/DiagnosticDescriptors.cs
  bindings/dotnet/TeaLeaf.Generators/ModelAnalyzer.cs
  bindings/dotnet/TeaLeaf.Generators/TeaLeafGenerator.cs
  bindings/dotnet/TeaLeaf.Tests/TLValueTests.cs
  bindings/dotnet/TeaLeaf/TLValueExtensions.cs
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  docs-site/src/dotnet/overview.md
  docs-site/src/getting-started/installation.md
Due: dotnet, .NET Bindings, .NET Source Generator

Enhance parser and changelog with bug fixes and new features
  docs-site/src/appendix/changelog.md
  tealeaf-core/src/lib.rs
  tealeaf-core/src/parser.rs
Due: rust, Rust Core (tealeaf-core)

Fix singularization logic and schema inference to prevent name collisions and data loss
  docs-site/src/appendix/changelog.md
  tealeaf-core/src/lib.rs
Due: rust, Rust Core (tealeaf-core)

Bump version to 2.0.0-beta.5 and update documentation for new features and fixes
  Cargo.toml
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/docfx.json
  docs-site/src/appendix/changelog.md
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/getting-started/installation.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  spec/TEALEAF_SPEC.md
  tealeaf-core/README.md
  tealeaf-core/src/lib.rs
  tealeaf-core/src/types.rs
  tealeaf-core/tests/derive.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Enhance schema inference to support nested arrays within objects and add corresponding tests
  tealeaf-core/src/lib.rs
Due: rust, Rust Core (tealeaf-core)

Bump version to 2.0.0-beta.6 and update related documentation and files
  Cargo.toml
  assets/tealeaf_workflow.png
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/docfx.json
  docs-site/src/appendix/changelog.md
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/getting-started/installation.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  scripts/sync-version.ps1
  scripts/sync-version.sh
  spec/TEALEAF_SPEC.md
  tealeaf-core/README.md
  tealeaf-core/src/types.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Enhance schema inference for nested arrays and objects, add integration tests, and include example data for retail orders
  docs-site/src/appendix/changelog.md
  examples/retail_orders_different_shape.json
  examples/retail_orders_different_shape_api.tl
  examples/retail_orders_different_shape_cli.tl
  tealeaf-core/src/lib.rs
  tealeaf-core/tests/derive.rs
  tealeaf-core/tests/fixtures/retail_orders_different_shape.rs
Due: rust, Rust Core (tealeaf-core)

feat(writer): implement heterogeneous encoding for struct types without schema
  bindings/dotnet/TeaLeaf.Tests/TLReaderTests.cs
  docs-site/src/appendix/changelog.md
  tealeaf-core/src/lib.rs
  tealeaf-core/src/writer.rs
  tealeaf-core/tests/fixtures/retail_orders.json
Due: rust, Rust Core (tealeaf-core)

feat(reader): enhance JSON serialization with pretty and compact options
  bindings/dotnet/TeaLeaf/TLReader.cs
Due: dotnet, .NET Bindings

bump version to 2.0.0-beta.7 and update related documentation
  Cargo.toml
  assets/tealeaf_workflow.png
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf.Tests/TLReaderTests.cs
  bindings/dotnet/TeaLeaf/TLReader.cs
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/docfx.json
  docs-site/src/appendix/changelog.md
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/getting-started/installation.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  spec/TEALEAF_SPEC.md
  tealeaf-core/README.md
  tealeaf-core/src/types.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

enhance project settings and documentation generation
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf/TLDocument.cs
  bindings/dotnet/TeaLeaf/TLException.cs
  bindings/dotnet/TeaLeaf/TLReader.cs
  bindings/dotnet/TeaLeaf/TLSchema.cs
  bindings/dotnet/TeaLeaf/TLValue.cs
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
Due: dotnet, .NET Bindings

bump version to 2.0.0-beta.8 and update related documentation
  Cargo.toml
  assets/tealeaf_workflow.png
  bindings/dotnet/BUILD.md
  bindings/dotnet/TeaLeaf.Annotations/TeaLeaf.Annotations.csproj
  bindings/dotnet/TeaLeaf.Generators/TeaLeaf.Generators.csproj
  bindings/dotnet/TeaLeaf/TeaLeaf.csproj
  bindings/dotnet/docfx.json
  docs-site/src/appendix/changelog.md
  docs-site/src/appendix/comparison-matrix.md
  docs-site/src/ffi/api-reference.md
  docs-site/src/getting-started/installation.md
  docs-site/src/introduction.md
  docs-site/src/rust/derive-macros.md
  docs-site/src/rust/overview.md
  release.json
  spec/TEALEAF_SPEC.md
  tealeaf-core/README.md
  tealeaf-core/src/types.rs
  tealeaf-ffi/cbindgen.toml
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Added support for TL compact format and .Net serialization fixes.
  bindings/dotnet/TeaLeaf.Generators.Tests/GeneratorTests.cs
  bindings/dotnet/TeaLeaf.Generators/ModelAnalyzer.cs
  bindings/dotnet/TeaLeaf.Tests/TLDocumentTests.cs
  bindings/dotnet/TeaLeaf/Native/NativeMethods.cs
  bindings/dotnet/TeaLeaf/TLDocument.cs
  docs-site/src/cli/decompile.md
  docs-site/src/cli/json-conversion.md
  docs-site/src/dotnet/native-types.md
  docs-site/src/dotnet/overview.md
  docs-site/src/guides/llm-context.md
  docs-site/src/rust/overview.md
  tealeaf-core/src/lexer.rs
  tealeaf-core/src/lib.rs
  tealeaf-core/src/main.rs
  tealeaf-core/src/parser.rs
  tealeaf-ffi/src/lib.rs
  tealeaf-ffi/tealeaf.h
Due: rust, dotnet, Rust Core (tealeaf-core), Rust FFI (tealeaf-ffi), .NET Bindings, .NET Source Generator

Adding support for real data sets for the accuracy benchmark. Starting with finance domain.
  .gitignore
  accuracy-benchmark/Cargo.toml
  accuracy-benchmark/README.md
  accuracy-benchmark/examples/convert_formats.rs
  accuracy-benchmark/examples/tl_roundtrip.rs
  accuracy-benchmark/examples/toon_roundtrip.rs
  accuracy-benchmark/src/config.rs
  accuracy-benchmark/src/main.rs
  accuracy-benchmark/src/tasks/loader.rs
  accuracy-benchmark/src/tasks/mod.rs
  accuracy-benchmark/tasks/finance/data/README.md
  accuracy-benchmark/tasks/finance/data/process_sec.py
  accuracy-benchmark/tasks/finance/data/sec_edgar_2025_q4.json
  accuracy-benchmark/tasks/finance/synthetic-data/financial_statement.json
  accuracy-benchmark/tasks/finance/synthetic-data/financial_statement_simple.json
  accuracy-benchmark/tasks/finance/synthetic-data/portfolio.json
  accuracy-benchmark/tasks/finance/synthetic-data/portfolio_simple.json
  accuracy-benchmark/tasks/finance/synthetic-data/transactions.json
  accuracy-benchmark/tasks/healthcare/synthetic-data/patient_record.json
  accuracy-benchmark/tasks/healthcare/synthetic-data/patient_records.json
  accuracy-benchmark/tasks/hr/synthetic-data/employees.json
  accuracy-benchmark/tasks/legal/synthetic-data/contracts.json
  accuracy-benchmark/tasks/logistics/synthetic-data/shipments.json
  accuracy-benchmark/tasks/manufacturing/synthetic-data/production.json
  accuracy-benchmark/tasks/marketing/synthetic-data/campaigns.json
  accuracy-benchmark/tasks/marketing/synthetic-data/campaigns_simple.json
  accuracy-benchmark/tasks/real.json
  accuracy-benchmark/tasks/real_estate/synthetic-data/properties.json
  accuracy-benchmark/tasks/retail/synthetic-data/customers.json
  accuracy-benchmark/tasks/retail/synthetic-data/sales_data.json
  accuracy-benchmark/tasks/retail/synthetic-data/weekly_sales.json
  accuracy-benchmark/tasks/synthetic.json
  accuracy-benchmark/tasks/technology/synthetic-data/server_metrics_simple.json
  accuracy-benchmark/tasks/technology/synthetic-data/system_metrics.json
  docs-site/src/internals/accuracy-benchmark.md
  docs-site/src/introduction.md
Due: none
